.btn {
    -fx-cursor: hand;
	-fx-background-color:transparent;
	-fx-background-repeat: no-repeat;

}
#btn_home {
    -fx-background-image: url('img/button_home.png');
    
}

#btn_home:hover {
    -fx-background-image: url('img/button_home_hover.png');
}

#btn_search {
    -fx-background-image: url('img/search_tab.png');
}

#text_search {
    -fx-background-color: transparent;
    -fx-border-color: #FFBA26;
}

#hBox {
    -fx-border-color: #FFBA26;
    -fx-border-style: hidden, hidden, solid, hidden;
    -fx-border-width: 3px;
}

.list {
    -fx-background-color: #FFBA26;
    -fx-border-color: #FFBA26;
}

#check_btn {
    -fx-background-image: url('img/new_user.png');
}

#check_btn:hover {
    -fx-background-image: url('img/new_user_hover.png');
}

#btn_cancel{
    -fx-background-image: url('img/cancel.png');
}
#btn_cancel:hover{
    -fx-background-image: url('img/cancel_hover.png');
}

.root{
	-fx-background-color:#FFFF;
	-fx-border-color: #ffba26;
	-fx-border-width:10px;
	-fx-border-style:solid;
}


#line{
	-fx-stroke:#ffba26;
	-fx-stroke-width:5;
}


#hBox_name{
	-fx-background-color: #FFFF;
}

#hBox_address{
	-fx-background-color: #FFFF;
	
}


#hBox_contact{
	-fx-background-color: #FFFF;
	
}
