#bg {
    -fx-border-color: #FFBA26;
	-fx-background-color: #FFFF;
    -fx-border-width: 10px;
	
}

.btn {
	-fx-cursor: hand;
	-fx-background-color:transparent ;
	-fx-background-repeat: no-repeat;
}

#btn_customer {
	-fx-background-image: url('img/bouton_customer.png');
	
}
#btn_customer:hover {
	-fx-background-image: url('img/bouton_customer_hover.png');
}


#btn_books {
	-fx-background-image: url('img/bouton_books.png');
}
#btn_books:hover {
	-fx-background-image: url('img/bouton_books_hover.png');
}

#btn_calendar {
	-fx-background-image: url('img/button_cal.png');
}
#btn_calendar:hover {
	-fx-background-image: url('img/button_cal_hover.png');
}

#btn_borrow {
	-fx-background-image: url('img/button_borrow.png');
}
#btn_borrow:hover {
	-fx-background-image: url('img/button_borrow_hover.png');
}

#btn_param {
	-fx-background-image: url('img/button_param.png');
}
#btn_param:hover {
	-fx-background-image: url('img/button_param_hover.png');
}

#btn_leave {
	-fx-background-image: url('img/button_leave.png');
}
#btn_leave:hover {
	-fx-background-image: url('img/button_leave_hover.png');
}

#btn_close {
	-fx-background-image: url('img/button_close.png');
}
#btn_close:hover {
	-fx-background-image: url('img/button_close_hover.png');
}

#btn_menu{
    -fx-background-image: url('img/bouton_menu.png');
}

