

#line{
	-fx-stroke:#ffba26;
	-fx-stroke-width:5;
	-fx-stroke-line-cap:ROUND;
}

#titleLabel{
	-fx-text-fill:#000000;
	-fx-font-family:'Arial';
	-fx-font-weight:bold;
	-fx-font-size:24.0;
	-fx-alignment:center-left;
	-fx-pref-width: 600.0;
    -fx-pref-height: 106.0;
	
}

#authorLabel{
	-fx-text-fill:#000000;
	-fx-font-family:'Arial';
	-fx-font-weight:bold;
	-fx-font-size:24.0;
	-fx-alignment:center-left;
	-fx-pref-width: 600.0;
    -fx-pref-height: 106.0;
	
}

#dateLabel{
	-fx-text-fill:#000000;
	-fx-font-family:'Arial';
	-fx-font-weight:bold;
	-fx-font-size:24.0;
	-fx-alignment:center-left;
	-fx-pref-width: 600.0;
    -fx-pref-height: 106.0;
	
}

#languageLabel{
	-fx-text-fill:#000000;
	-fx-font-family:'Arial';
	-fx-font-weight:bold;
	-fx-font-size:24.0;
	-fx-alignment:center-left;
	-fx-pref-width: 600.0;
    -fx-pref-height: 106.0;
	
}

#identifierLabel{
	-fx-text-fill:#000000;
	-fx-font-family:'Arial';
	-fx-font-weight:bold;
	-fx-font-size:24.0;
	-fx-alignment:center-left;
	-fx-pref-width: 600.0;
    -fx-pref-height: 106.0;
	
}